.btn {
    padding: 5px 15px;
    margin: 0 5px;
    height: auto;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'nunito-bold';
}

.btn--pressed--white {
    background-color: aliceblue;
    color: #0079bf;
    border: 2px solid aliceblue;
    box-shadow: 0 9px #bbb;
    transition-duration: 0.1s;
}

.btn--pressed--white:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: aliceblue;
}

.btn--pressed--white:active {
    background-color: rgba(240, 248, 255, 0.6);
    color: aliceblue;
    box-shadow: 0 4px #666;
    transform: translateY(5px);
}

.btn--pressed--clear {
    background-color: rgba(240, 248, 255, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
    box-shadow: 0 9px #bbb;
    transition-duration: 0.1s;
}

.btn--pressed--clear:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: #0079bf;
}

.btn--pressed--clear:active {
    background-color: rgba(240, 248, 255, 0.6);
    color: #0079bf;
    border: 2px solid transparent;
    box-shadow: 0 4px #666;
    transform: translateY(5px);
}

.btn--pressed--blue {
    width: 90%;
    border-radius: 25px;
    background-color: #0079bf;
    color: aliceblue;
    font-family: 'nunito-bold';
    box-shadow: 0 9px #bbb;
    transition-duration: 0.1s;
}

.btn--pressed--blue:hover {
    background-color: #0079bf;
    color: aliceblue;
}

.btn--pressed--blue:active {
    background-color: #0079bf;
    color: aliceblue;
    box-shadow: 0 4px #666;
    transform: translateY(5px);
}

.btn--medium {
    font-size: medium;
}

.btn--large {
    font-size: larger;
}