.btn {
    padding: 5px 15px;
    margin: 0 5px;
    height: auto;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'nunito-bold';
}

.btn--white {
    background-color: aliceblue;
    color: #0079bf;
    border: 2px solid aliceblue;
}

.btn--white:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: aliceblue;
}

.btn--morepress {
    box-shadow: 0 9px #bbb;
    transition-duration: 0.1s;
}

.btn--morepress:active {
    box-shadow: 0 4px #666;
    transform: translateY(5px);
}

.btn--clear {
    background-color: rgba(240, 248, 255, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
}

.btn--clear:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: #0079bf;
}

.btn--blue {
    width: 90%;
    border-radius: 25px;
    background-color: #0079bf;
    color: aliceblue;
    font-family: 'nunito-bold';
}

.btn--blue:hover {
    background-color: #0079bf;
    color: aliceblue;
}

.btn--mediumpress {
    box-shadow: 0 6px #bbb;
}

.btn--mediumpress:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.btn--lesspress {
    box-shadow: 0 4px #bbb;
}

.btn--lesspress:active {
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}

.btn--medium {
    font-size: medium;
}

.btn--large {
    font-size: larger;
}

.btn--small {
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
}