.btn {
    padding: 5px 15px;
    margin: 0 5px;
    height: auto;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #bbb;
    transition-duration: 0.1s;
}

.btn--primary {
    background-color: aliceblue;
    color: #0079bf;
    border: 2px solid aliceblue;
}

.btn--primary:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: aliceblue;
}

.btn--primary:active {
    background-color: rgba(240, 248, 255, 0.6);
    color: aliceblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn--outline {
    background-color: rgba(240, 248, 255, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
}

.btn--outline:hover {
    background-color: rgba(240, 248, 255, 0.6);
    color: #0079bf;
}

.btn--outline:active {
    background-color: rgba(240, 248, 255, 0.6);
    color: #0079bf;
    border: 2px solid transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn--medium {
    font-size: medium;
}

.btn--large {
    font-size: larger;
}