.carddeck {
  display: grid;
  place-items: start;
  width: 60vw;
  margin: auto;
}

.carddeck-card-container {
  grid-area: 1 / 1;
  transition: transform 0.5s ease;
  /* box-shadow: 4px 0 #888;
  border-radius: 15px;
  padding-bottom: 9px; */
}

.carddeck-card {
  display: grid;
  transition: transform 0.5s ease;
}

.carddeck-card:hover {
  transform: translateY(-20px) rotate(8deg);
}

.carddeck-card-container img, .img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  grid-area: 1 / 1;
}

.carddeck-card-container .img-cover {
  background-color: #004b7640;
}

.carddeck-card-container .carddeck-title-container {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carddeck-card-container h5 {
  font-family: "nunito-superbold";
  font-size: 2.5rem;
  color: white;
  text-align: end;
  padding-right: 3rem;
  text-shadow: 0 5px #333;
}
