.day-card h4 {
  font-family: "nunito-superbold";
  color: #0079bf;
  font-size: 2rem;
}

.day-card ul {
  padding: 0.5rem;
  list-style-type: none;
  margin: 1rem 0;
  max-height: 92%;
  overflow-y: auto;
}

.day-card .add-btn-container {
  width: 3rem;
  margin: auto;
}