.event-container {
  min-height: 12rem;
  width: 100%;
  background-color: #38b6ff40;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px #bbb;
  transition: transform 0.3s ease;
}

.event-container:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px #ddd;
}

.event-text-info-container {
  /* border: 1px solid red; */
  /* flex: 1; */
  width: 64%;
}

.event-other-info-container {
  width: 32%;
}

.event-container .event-name,
.event-description {
  width: 100%;
  text-align: start;
  background-color: transparent;
  border: none;
  overflow: hidden;
  resize: none;
}

.event-container .event-name {
  font-family: "nunito-bold";
  font-size: 1.2rem;
}

.event-container .event-description {
  font-family: "nunito";
  font-size: 0.85rem;
}

.event-container textarea:focus {
  outline: none;
}

.event-other-info-container .information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.event-other-info-container .icon {
  height: 25px;
  width: 25px;
  align-self: center;
  color: #0079bf;
}

.event-other-info-container .text {
  width: 85%;
  text-align: start;
  background-color: transparent;
  margin-left: 0.5rem;
  border: none;
  overflow: hidden;
  resize: none;
}
