.itinerary-day-container {
    width: 10rem;
    background-color: #fff;
    padding: 0 0 0.5rem 0;
    border-radius: 10px;
    margin: 0 1rem 0 0;
}

.itinerary-day-container h6 {
    background-color: #0079bf;
    padding: 0.5rem 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px #ccc;
    color: aliceblue;
    font-family: 'nunito-superbold';
}

.itinerary-day-container ul {
    padding: 0 0.5rem;
    list-style-type: none;
    margin: 0.5rem 0;
    max-height: 16rem;
    overflow-y: auto;
  }

.itinerary-day-container li {
    width: 100%;
    border-bottom: 2px solid #def;
}

.itinerary-day-container .event-name {
    font-size: 0.85rem;
    height: auto;
    min-height: 3rem;
    margin: 0.1rem 0;
    align-content: center;
}

.itinerary-day-container .event-time {
    font-size: 0.7rem;
    opacity: 0.6;
    height: fit-content;
    margin: 0;
    margin-bottom: 0.2rem;
}