.navbar {
  height: 2.4rem;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 999;
}

.navbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  height: fit-content;
  width: fit-content;
  font-family: "feather";
  color: aliceblue;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  /* border: 2px solid black; */
}

.navbar-right-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
  margin-right: 5px;
}

.navbar--blue {
  background-color: #2a88bf;
}

.navbar--lightblue {
  background-color: #71c2f0;
}
