.poll-options-ul {
  min-height: 10rem;
  padding: 0;
  list-style-type: none;
  margin: 0.7rem 0 1.5rem 0;
  overflow-x: auto;
}

.poll-options-ul .poll-option-li {
  margin: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 2px #ccc;
  background-color: #38b6ff20;
  position: relative;
  height: 2.1rem;
}

.poll-options-ul .poll-option-li.not-voted {
  cursor: pointer;
}

.poll-options-ul .poll-option-li.not-voted:hover {
  background-color: #38b6ff40;
}

.poll-options-ul .poll-option-li.not-voted:active {
  box-shadow: 0 1px #aaa;
  transform: translateY(1px);
}

.poll-options-ul .poll-option-li.voted.voted-this {
  border: #1281c2 solid 2px;
}

.poll-options-ul .percentage-bar {
  height: 100%;
  width: 0%;
  background-color: #38b6ff80;
  text-align: center;
  transition: width 0.3s ease;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.poll-options-ul p {
  font-family: "nunito-bold";
  position: absolute;
  height: 100%;
  align-content: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.poll-card .button-container {
  width: 20%;
  margin: auto;
}
