.reminders-list-container {
  height: auto;
  width: 100%;
}

ul {
  padding: 0 0.5rem;
  list-style-type: none;
  margin: 0.5rem 0;
}

.reminders-list-container li {
  width: 100%;
  background-color: #38b6ff40;
  border-radius: 10px;
  box-shadow: 0px 3px #bbb;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.75rem 0;
  /* border-radius: 5px; */
  transition: transform 0.3s ease;
}

.reminders-list-container li:hover {
  transform: translateY(-4px);
  box-shadow: 0 7px #ddd;
}

.reminder-text {
  height: auto;
  flex: 1;
  padding: 0.5rem;
  font-size: 0.85rem;
  text-align: left;
  word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.reminders-list-container button {
  background-color: #34b2fc40;
  border: none;
  font-size: 0.8rem;
  height: fit-content;
  width: fit-content;
  border-radius: 6px;
  margin-right: 8px;
  border-left: 2px solid #ccc;
  border-top: 2px solid #aaa;
}

.reminders-list-container .delete-reminder-btn span {
    display: inline-block;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    margin: auto;
}

.new-reminder-container {
  padding: 0 0.5rem;
  width: 100%;
}

.new-reminder-textarea {
  background-color: #38b6ff40;
  border-radius: 10px;
  box-shadow: 0px 3px #bbb;
  width: 100%;
  height: auto;
  opacity: 0.4;
  padding: 0.5rem;
  font-size: 0.85rem;
  text-align: left;
  border: none;
  resize: vertical;
  overflow-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s ease;
  min-height: 2.25rem;
}

.new-reminder-textarea:focus {
  outline: none;
  opacity: 1;
  transform: translateY(-4px);
  box-shadow: 0 7px #ddd;
}
