.task-list-container {
  height: auto;
  width: 100%;
}

ol {
  padding: 0 0.5rem;
  list-style-type: none;
  margin: 0.5rem 0;
}

.task-list-container li {
  width: 100%;
  box-shadow: 0px 2px #eee;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.25rem 0;
  /* border-radius: 5px; */
}

.task-text {
  height: auto;
  flex: 1;
  padding: 0.5rem;
  font-size: 0.85rem;
  text-align: left;
  word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-text.checked {
  opacity: 0.4;
  text-decoration: line-through;
}

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  pointer-events: none;
  box-shadow: 0 3px #bbb;
  border-radius: 6px;
}

.custom-checkbox-container:hover .checkmark {
  background-color: #ccc;
}

.custom-checkbox-container:active .checkmark {
  background-color: #ccc;
  top: 50%;
  transform: translateY(-8px);
  box-shadow: 0 1px #aaa;
}

.custom-checkbox-container .checkmark.checked {
  background-color: #2a88bf;
}

.custom-checkbox-container .checkmark.checked:after {
  display: block;
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
}

.task-list-container button {
  background-color: #efefff80;
  border: none;
  font-size: 0.8rem;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  margin-left: 5px;
  /* border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc; */
  border-left: 2px solid #ddd;
  border-top: 2px solid #bbb;
}

.task-list-container .delete-task-btn span {
    display: inline-block;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    margin: auto;
}

.task-list-container .move-task-btn span {
    display: inline-block;
    transform: rotate(90deg);
    padding: 0;
    padding-right: 8px;
    padding-top: 5px;
}

.new-task-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

.new-task-textarea {
  background-color: transparent;
  flex: 1;
  width: 100%;
  height: auto;
  padding: 0 0.5rem;
  font-size: 0.85rem;
  text-align: left;
  border: none;
  opacity: 0.4;
  resize: vertical;
  overflow-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.new-task-textarea:focus {
  outline: none;
  opacity: 1;
}
