h3 {
  font-family: "nunito-superbold";
  margin-top: 2rem;
}

.search-user-container {
  display: flex;
  padding: 1.5rem;
}

.search-user-input {
  flex: 1;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  border: 2px solid #0079bf;
  box-shadow: 0 3px #bbb;
  background-color: white;
}

.search-user-input:focus {
  outline: none;
}

.search-result-ul,
.current-member-ul {
  list-style-type: none;
  padding: 1.5rem 0;
  overflow-x: auto;
}

.search-result-listitem,
.current-member-listitem {
  background-color: #70b9ef60;
  width: 90%;
  padding: 0.5rem 1.5rem;
  margin: auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px #bbb;
}

.search-result-name,
.current-member-name {
  text-align: left;
  font-family: "nunito-bold";
  font-size: 1.2rem;
}

.search-result-name span,
.current-member-name span {
  margin-right: 0.2rem;
}
