.hero-container {
    background: url('/images/cloud_bg.jpg') bottom center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
    object-fit: fill;
    padding: 0;
    margin: 0;
}

.hero-text-container {
    height: auto;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    margin-top: 5%;
    /* border: 2px dotted black; */
}

.hero-btns {
    margin: 0 auto;
}

h2 {
    font-family: 'nunito-superbold';
    color: aliceblue;
    font-size: 3em;
    margin: 0 0 -40px 0;
    text-shadow: 0 3px #aaa;
}

h1 {
    font-family: 'feather';
    color: aliceblue;
    font-size: 8em;
    margin: 0 0 40px 0;
    text-shadow: 0 6px #aaa;
}