.hero-container {
    background: url('images/cloud_bg.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: fill;
    padding: 0;
    margin: 0;
}

.hero-text-container {
    height: auto;
    width: auto;
    margin: auto;
    padding: 0 0 180px 0;
    /* border: 2px dotted black; */
}

h2 {
    font-family: 'nunito-bold';
    color: aliceblue;
    font-size: 2em;
    margin: 0 0 -20px 0;
}

h1 {
    font-family: 'feather';
    color: aliceblue;
    font-size: 6em;
    margin: 0 0 40px 0;
}