.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #2a88bf;
}

.home-container h1 {
  font-family: "nunito-superbold";
  color: white;
  width: 100%;
  height: fit-content;
  text-align: start;
  padding: 1.5rem;
}

.carddeck-container {
  width: 100%;
  height: 25rem;
  margin: 0;
}

.add-new-trip-button {
  width: auto;
  margin: 3.5rem auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1000;
}

.set-newtrip-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 25rem;
  height: auto;
  margin: 0;
  z-index: 1001;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 15px;
}

.set-tripname-container,
.set-date-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.set-newtrip-container h5 {
  align-self: flex-end;
  font-family: "nunito-bold";
  margin-right: 1rem;
}

.set-tripname-input {
  flex: 1;
  background-color: aliceblue;
  border-radius: 10px;
  height: auto;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  border: none;
  border-left: 2px solid #ddd;
  border-top: 3px solid #bbb;
}

.set-date-datepicker {
  flex: 1;
  margin-top: 1rem;
  background-color: aliceblue;
  border-radius: 10px;
  height: auto;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  border: none;
  border-left: 2px solid #ddd;
  border-top: 3px solid #bbb;
}

.set-date-datepicker-calendar {
  .react-datepicker__week:nth-child(2n) {
    background-color: white;
  }
  .react-datepicker__week:nth-child(2n + 1) {
    background-color: aliceblue;
  }
}

.set-date-datepicker:focus {
  outline: none;
}

.set-tripname-input:focus {
  outline: none;
}

.add-btn-container {
  margin: auto;
  margin-top: 1.5rem;
  width: 10rem;
}
